<!-- BEGIN: Subheader -->
<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				Painel de trabalho
			</h3>
		</div>
		<div>
			<!-- <span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
				<span class="m-subheader__daterange-label">
					<span class="m-subheader__daterange-title"></span>
					<span class="m-subheader__daterange-date m--font-brand"></span>
				</span>
				<a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
					<i class="la la-angle-down"></i>
				</a>
			</span>-->
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="m-portlet">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<span class="m-portlet__head-icon m--hide">
						<i class="la la-gear"></i>
					</span>
					<!-- <h3 class="m-form__heading-title">
						1. Dados do Clube:
					</h3> -->
					<h2 class="m-portlet__head-text" style="font-size: 1.75rem">
						Página/Painel de trabalho inicial incluida meramente como sugestão de melhoria futura.
					</h2>
				</div>
			</div>
		</div>
		<div class="m-portlet__body">
		  <!-- <img alt="" src="./assets/app/media/img/MDL_Images/pano_fundo_logo.jpg"/> -->
			<div class="form-group m-form__group row">
				<label class="col-form-label">
			 		Aqui podem ser incluido elementos como demonstrado em
					<a target="_blank" href="http://keenthemes.com/metronic/preview/default/angular/index">
						http://keenthemes.com/metronic/preview/default/angular/index
					</a>
				</label>
			<div>
		</div>
	</div>
