<div class="jumbotron text-center">
  <h1>Gestão MDL</h1>
  <p class="lead">Bem vindo ao sistema de Gestão Mundo do Laço</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Criar conta</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>



<div class="row">
  <div class="col-md-4">
    <div class="m-portlet m-portlet--rounded">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Express Backend
								<small>
									server
								</small>
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					A rock solid Node.js/Express server using Mongoose to organize models and query the database
				</div>
			</div>
  </div>
  <div class="col-md-4">
    <div class="m-portlet m-portlet--rounded">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Angular-CLI
                <small>
                  framework
                </small>
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          A rock solid Node.js/Express server using Mongoose to organize models and query the database
        </div>
      </div>
  </div>
  <div class="col-md-4">
    <div class="m-portlet m-portlet--rounded">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                JWT Tokens
                <small>
                  autenticação
                </small>
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          Full featured authentication using JSON web tokens. Login and store user data.
        </div>
      </div>
  </div>
</div>
<!-- <app-footer></app-footer> -->
