<!-- BEGIN: Subheader -->
<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Registro do Usuário
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a routerLink="/users" class="m-nav__link">
						<span class="m-nav__link-text">
							Usuários
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="javascript:history.go(0)" class="m-nav__link">
						<span class="m-nav__link-text">
							Ver Detalhes
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div>
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
				<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
					<i class="la la-plus m--hide"></i>
					<i class="la la-ellipsis-h"></i>
				</a>
				<div class="m-dropdown__wrapper">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									<li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Ações rápidas
										</span>
									</li>
									<li class="m-nav__item">
										<div *ngIf="isView" href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-share"></i>
											<span (click)="onEditRequest(this.User._id)" class="m-nav__link-text">
												Editar
											</span>
										</div>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-chat-1"></i>
											<span class="m-nav__link-text">
												-
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-info"></i>
											<span class="m-nav__link-text">
												-
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-lifebuoy"></i>
											<span class="m-nav__link-text">
												-
											</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<div class="col-lg-12">
<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon m--hide">
          <i class="la la-gear"></i>
        </span>
				<!-- <h3 class="m-form__heading-title">
					1. Dados do Clube:
				</h3> -->
				<h2 class="m-portlet__head-text" style="font-size: 1.75rem">
          Dados do Usuário:
        </h2>
      </div>
    </div>
  </div>

  <!--begin::Form-->
  <form form #formUser="ngForm" class="m-form m-form--label-align-right" id="userForm" (submit)="onUsersSubmit(formUser.value)">
    <div class="m-portlet__body">
			<div class="m-form__section m-form__section--first">
        <!-- <div class="m-form__heading">
          <h3 class="m-form__heading-title">
            1. Dados do Clube:
          </h3>
        </div> -->
        <div class="form-group m-form__group row">
          <label class="col-lg-3 col-form-label">
             Nome:
             <span class="asteriskField">*</span>
          </label>
          <div class="col-lg-6">
            <div *ngIf="isView" class="controls col-md-8 ">
              <p class ='col-form-label' >{{this.User.name}} </p>
            </div>
            <div *ngIf="!isView" class="controls col-md-8 input-group ">
              <input class="form-control m-input" id="id_name" maxlength="30" [(ngModel)]="User.name" name="name" placeholder="Digite o nome do usuário" style="margin-bottom: 10px" type="text">
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row">
          <label class="col-lg-3 col-form-label">
             E-mail:
             <span class="asteriskField">*</span>
          </label>
          <div class="col-lg-6">
            <div *ngIf="isView" class="controls col-md-8 ">
              <p class ='col-form-label' >{{this.User.email}} </p>
            </div>
            <div *ngIf="!isView" class="controls col-md-8 input-group ">
              <input class="form-control m-input" id="id_username" maxlength="30" [(ngModel)]="User.email" name="apelido" placeholder="Digite o e-mail" style="margin-bottom: 10px" type="text">
            </div>
          </div>
        </div>

				<div class="form-group m-form__group row">
          <label class="col-lg-3 col-form-label">
             Login do usuário:
             <span class="asteriskField">*</span>
          </label>
          <div class="col-lg-6">
            <div *ngIf="isView" class="controls col-md-8 ">
              <p class ='col-form-label' >{{this.User.username}} </p>
            </div>
            <div *ngIf="!isView" class="controls col-md-8 input-group ">
              <input class="form-control m-input" id="id_username" maxlength="30" [(ngModel)]="User.username" name="apelido" placeholder="Digite o login" style="margin-bottom: 10px" type="text">
            </div>
          </div>
        </div>

				<div class="form-group m-form__group row">
					<label class="col-lg-3 col-form-label">
						 Senha:
						 <span class="asteriskField">*</span>
					</label>
					<div class="col-lg-6">
						<div *ngIf="isView" class="controls col-md-8 ">
							<p class ='col-form-label' > Entre na tela de edição para alterar a senha</p>
						</div>
						<div *ngIf="!isView" class="controls col-md-8">
							<input class="form-control m-input" id="id_username" maxlength="30" [(ngModel)]="User.password" name="password" style="margin-bottom: 10px" type="password">
							<!-- <div class = "m-form__help"> -->
								<span class="m-form__help">
									Para alterar sua senha apague este campo e digite uma nova senha.
								</span>
							<!-- </div> -->
						</div>
					</div>
				</div>

				<div class="form-group m-form__group row">
          <label class="col-lg-3 col-form-label">
             Foto:
          </label>
          <div class="col-lg-6">
            <div *ngIf="isView" class="controls col-md-8 ">
              <p class ='col-form-label'>{{this.User.picture}} </p>
            </div>
            <div *ngIf="!isView" class="controls col-md-8 input-group ">
              <button class="input-group-addon" style="width: 15%"  (click)="onUploadPicture()" type="button" >
                	<span class="input-group-addon" id="basic-addon2" >
                      <span class="fa fa-photo" style="width: 1.2rem; height: 1rem; cursor: pointer;"></span>
                  </span>
              </button>
              <input (click)="onUploadPicture()" type="text" #pictureInput  class="form-control m-input" id="id_picture" name="picture" placeholder="Escolha uma foto do computador" readonly>

            </div>
          </div>
        </div>

				<div class="form-group m-form__group row">
          <label class="col-lg-3 col-form-label">
             CPF:
             <span class="asteriskField">*</span>
          </label>
          <div class="col-lg-6">
            <div *ngIf="isView" class="controls col-md-8 ">
              <p class ='col-form-label' >{{this.User.cpf}} </p>
            </div>
            <div *ngIf="!isView" class="controls col-md-8 input-group ">
              <input class="form-control m-input" id="id_username" maxlength="30" [(ngModel)]="User.cpf" name="cpf" placeholder="Digite o CPF" style="margin-bottom: 10px" type="text">
            </div>
          </div>
        </div>

				<div class="form-group m-form__group row">
					<label class="col-lg-3 col-form-label">
						 Fone:
					</label>
					<div class="col-lg-6">
						<div *ngIf="isView" class="controls col-md-8 ">
							<p class ='col-form-label'>{{this.User.foneDDD1}} {{this.User.fone1}} </p>
						</div>
						<div *ngIf="!isView" class="controls col-md-8 input-group ">
							<input class="form-control m-input col-md-3" id="id_fone1" maxlength="2" [(ngModel)]="User.foneDDD1" name="foneDDD1" placeholder="(##)" style="margin-bottom: 10px ; width:50" type="text">
							<input class="form-control m-input col-md-9" id="id_fone1" maxlength="30" [(ngModel)]="User.fone1" name="fone1" placeholder="Digite um numero de telefone" style="margin-bottom: 10px;  margin-left: 5px" type="text">
						</div>
					</div>
				</div>




     <!-- INICIO::RODAPÉ DE AÇÕES -->
     <div class="m-portlet__foot m-portlet__foot--fit">
      <div class="m-form__actions m-form__actions">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-6">
						<button *ngIf="!isView" id="submit-id-save" type="submit" class="btn btn-primary"><i class="icon-hand-right">Salvar</i></button>
            <a class="m-nav__link" style="padding-left: 2rem"  [routerLink]="['/users']"> Voltar </a>
					</div>
		 		</div>
      </div>
     </div>
     <!-- FIM::RODAPÉ DE AÇÕES -->
   </div>
  </div>
 <!-- FIM::PORTLET -->
 </form>
<!--end::Form-->
</div>
