<!-- BEGIN: Subheader -->
<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Registro da Federação
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a routerLink="/clubesdelaco" class="m-nav__link">
						<span class="m-nav__link-text">
							Federações
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="javascript:history.go(0)" class="m-nav__link">
						<span class="m-nav__link-text">
							Ver Detalhes
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div>
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
				<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
					<i class="la la-plus m--hide"></i>
					<i class="la la-ellipsis-h"></i>
				</a>
				<div class="m-dropdown__wrapper">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									<li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Ações rápidas
										</span>
									</li>
									<li class="m-nav__item">
										<div *ngIf="isView" href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-share"></i>
											<span (click)="onEditRequest(this.Federacao._id)" class="m-nav__link-text">
												Editar
											</span>
										</div>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-chat-1"></i>
											<span class="m-nav__link-text">
												-
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-info"></i>
											<span class="m-nav__link-text">
												-
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-lifebuoy"></i>
											<span class="m-nav__link-text">
												-
											</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<div class="col-lg-12">
  <div class="m-portlet">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <span class="m-portlet__head-icon m--hide">
            <i class="la la-gear"></i>
          </span>
  				<!-- <h3 class="m-form__heading-title">
  					1. Dados do Clube:
  				</h3> -->
  				<h2 class="m-portlet__head-text" style="font-size: 1.75rem">
            1. Dados da Federação:
          </h2>
        </div>
      </div>
    </div>


    <!--begin::Form-->
    <form #federacaoForm="ngForm" class="m-form m-form--label-align-right" id="formFederacao" (submit)="onFederacaoSubmit(federacaoForm)">
      <div class="m-portlet__body">
        <div class="m-form__section m-form__section--first">
          <!-- <div class="m-form__heading">
            <h3 class="m-form__heading-title">
              1. Dados do Clube:
            </h3>
          </div> -->
          <div class="form-group m-form__group row">
            <label class="col-lg-3 col-form-label">
               Nome da Federação:
               <span class="asteriskField">*</span>
            </label>
            <div class="col-lg-6">
              <div *ngIf="isView" class="controls col-md-8 ">
                <p class ='col-form-label' >{{this.Federacao.name}} </p>
              </div>
              <div *ngIf="!isView" class="form-group m-form__group has-danger has-danger ">
                <input class="form-control m-input" id="id_nome" #name="ngModel" required minlength="3" maxlength="60" [(ngModel)]="Federacao.name" name="name" placeholder="Digite o nome da Federação" style="margin-bottom: 10px" type="text">
								<div *ngIf="name.invalid && (name.dirty || name.touched)" class="form-control-feedback" style="font-size: 1rem">
									<div *ngIf="name.errors.required">
								    Este campo não pode ficar em branco.
								  </div>
								  <div *ngIf="name.errors.minlength">
								    Este campo exige ao menos 3 caracteres
								  </div>
								</div>
              </div>
            </div>
          </div>

          <div class="form-group m-form__group row">
            <label class="col-lg-3 col-form-label">
               Razão social:
               <span class="asteriskField">*</span>
            </label>
            <div class="col-lg-6">
              <div *ngIf="isView" class="controls col-md-8 ">
                <p class ='col-form-label' >{{this.Federacao.razaosocial}} </p>
              </div>
              <div *ngIf="!isView" class="form-group m-form__group has-danger has-danger ">
                <input class="form-control m-input" #razaosocial="ngModel" required minlenght="3" id="id_razaosocial" [(ngModel)]="Federacao.razaosocial" name="razaosocial" placeholder="Digite a razão social" style="margin-bottom: 10px" type="text" >
								<div *ngIf="razaosocial.invalid && (razaosocial.dirty || razaosocial.touched)" class="form-control-feedback" style="font-size: 1rem">
									<div *ngIf="razaosocial.errors.required">
								    Este campo não pode ficar em branco.
								  </div>
								  <div *ngIf="razaosocial.errors.minlength">
								    Este campo exige ao menos 3 caracteres
								  </div>
								</div>
              </div>
            </div>
          </div>

          <div class="form-group m-form__group row">
            <label class="col-lg-3 col-form-label">
               CNPJ:
               <span class="asteriskField">*</span>
            </label>
            <div class="col-lg-6">
              <div *ngIf="isView" class="controls col-md-8 ">
                <p class ='col-form-label' >{{this.Federacao.cnpj}} </p>
              </div>
              <div *ngIf="!isView" class="form-group m-form__group has-danger has-danger">
                <input class="form-control m-input" #cnpj="ngModel" required minlenght="3" id="id_CNPJ" [(ngModel)]="Federacao.cnpj" name="cnpj" placeholder="Digite o CNPJ" style="margin-bottom: 10px" type="text" >
								<div *ngIf="cnpj.invalid && (cnpj.dirty || cnpj.touched)" class="form-control-feedback" style="font-size: 1rem">
									<div *ngIf="cnpj.errors.required">
								    Este campo não pode ficar em branco.
								  </div>
								  <div *ngIf="cnpj.errors.minlength">
								    Este campo exige ao menos 3 caracteres
								  </div>
								</div>
              </div>
            </div>
          </div>

          <div class="form-group m-form__group row">
            <label class="col-lg-3 col-form-label">
               E-MAIL:
               <span class="asteriskField">*</span>
            </label>
            <div class="col-lg-6">
              <div *ngIf="isView" class="controls col-md-8 ">
                <p class ='col-form-label' >{{this.Federacao.email}} </p>
              </div>
              <div *ngIf="!isView" class="form-group m-form__group has-danger has-danger ">
                <input class="form-control m-input"  #email="ngModel" required minlenght="3" id="id_email" [(ngModel)]="Federacao.email" name="email" placeholder="Digite um e-mail de contato" style="margin-bottom: 10px" type="email">
								<div *ngIf="email.invalid && (email.dirty || email.touched)" class="form-control-feedback">
									<div *ngIf="email.errors.required" style="font-size: 1rem">
								    Este campo não pode ficar em branco.
								  </div>
									<div *ngIf="email.errors.email" style="font-size: 1rem">
								    Este campo exige um e-mail válido.
								  </div>
								</div>
              </div>
            </div>
          </div>






          <!-- INICIO::RODAPÉ DE AÇÕES -->
          <div class="m-portlet__foot m-portlet__foot--fit">
           <div class="m-form__actions m-form__actions">
             <div class="row">
               <div class="col-lg-2"></div>
               <div class="col-lg-6">
                 <button *ngIf="!isView" id="submit-id-save" type="submit" class="btn btn-primary"><i class="icon-hand-right">Salvar</i></button>
                 <a class="m-nav__link" style="padding-left: 2rem"  [routerLink]="['/federacao']"> Voltar </a>
               </div>
             </div>
           </div>
          </div>
          <!-- FIM::RODAPÉ DE AÇÕES -->
        </div>
      </div>
      <!-- FIM::PORTLET -->
    </form>
    <!--end::Form-->
  </div>
</div>
