<!-- BEGIN: Subheader -->
<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Registro do Clube de Laço
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a routerLink="/clubesdelaco" class="m-nav__link">
						<span class="m-nav__link-text">
							Clubes de Laço
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="javascript:history.go(0)" class="m-nav__link">
						<span class="m-nav__link-text">
							Ver Detalhes
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div>
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
				<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
					<i class="la la-plus m--hide"></i>
					<i class="la la-ellipsis-h"></i>
				</a>
				<div class="m-dropdown__wrapper">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									<li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Ações rápidas
										</span>
									</li>
									<li class="m-nav__item">
										<div *ngIf="isView" href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-share"></i>
											<span (click)="onEditRequest(this.Clubedelaco._id)" class="m-nav__link-text">
												Editar
											</span>
										</div>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-chat-1"></i>
											<span class="m-nav__link-text">
												-
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-info"></i>
											<span class="m-nav__link-text">
												-
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-lifebuoy"></i>
											<span class="m-nav__link-text">
												-
											</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<div class="col-lg-12">
<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon m--hide">
          <i class="la la-gear"></i>
        </span>
				<!-- <h3 class="m-form__heading-title">
					1. Dados do Clube:
				</h3> -->
				<h2 class="m-portlet__head-text" style="font-size: 1.75rem">
          1. Dados do Clube:
        </h2>
      </div>
    </div>
  </div>
  <!--begin::Form-->
	<form #clubedelacoForm="ngForm" class="m-form m-form--label-align-right " id="clubedelacoForm" (submit)="onClubesdelacoSubmit(clubedelacoForm)">
    <div class="m-portlet__body">
			<div class="m-form__section m-form__section--first">
        <!-- <div class="m-form__heading">
          <h3 class="m-form__heading-title">
            1. Dados do Clube:
          </h3>
        </div> -->
        <div class="form-group m-form__group row">
          <label class="col-lg-3 col-form-label">
             Nome do clube:
             <span class="asteriskField">*</span>
          </label>
          <div class="col-lg-6">
            <div *ngIf="isView" class="controls col-md-8 ">
              <p class ='col-form-label' >{{this.Clubedelaco.name}} </p>
            </div>
            <div *ngIf="!isView" class="form-group m-form__group has-danger has-danger">
              <input class="form-control m-input" id="id_name" #name="ngModel" required minlength="3" maxlength="60" [(ngModel)]="Clubedelaco.name" name="name" placeholder="Escolha um nome para o Clube" style="margin-bottom: 10px" type="text">
							<div *ngIf="name.invalid && (name.dirty || name.touched)" class="form-control-feedback">
								<div *ngIf="name.errors.required" style="font-size: 1rem">
									Este campo não pode ficar em branco.
								</div>
								<div *ngIf="name.errors.minlength" style="font-size: 1rem">
									Este campo requer ao menos 3 caracteres
								</div>
							</div>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row">
          <label class="col-lg-3 col-form-label">
            Sede / Localização <span class="asteriskField">*</span>
          </label>
          <div class="col-lg-6">
            <div *ngIf="isView" class="controls col-md-8 ">
              <p class ='col-form-label' type="text">{{this.Clubedelaco.sede}} </p>
            </div>
            <div *ngIf="!isView" class="form-group m-form__group has-danger has-danger">
              <input class="form-control m-input" id="id_sede" #sede="ngModel" required maxlength="60" [(ngModel)]="Clubedelaco.sede" name="sede" placeholder="Sede ou localização do clube" style="margin-bottom: 10px" type="text">
							<div *ngIf="sede.invalid && (sede.dirty || sede.touched)" class="form-control-feedback">
								<div *ngIf="sede.errors.required" style="font-size: 1rem" >
									Este campo não pode ficar em branco.
								</div>
								<div *ngIf="sede.errors.minlength" style="font-size: 1rem">
									Este campo requer ao menos 3 caracteres
								</div>
							</div>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row">
          <label class="col-lg-3 col-form-label">
            E-mail <span class="asteriskField">*</span>
          </label>
          <div class="col-lg-6">
            <div *ngIf="isView" class="controls col-md-8 ">
              <p class ='col-form-label' type="text">{{this.Clubedelaco.email}} </p>
            </div>
            <div *ngIf="!isView" class="form-group m-form__group has-danger has-danger">
              <input class="form-control m-input" id="id_email" #email="ngModel" required maxlength="30" [(ngModel)]="Clubedelaco.email" name="email" placeholder="Email do clube" style="margin-bottom: 10px" type="text">
							<div *ngIf="email.invalid && (email.dirty || email.touched)" class="form-control-feedback">
								<div *ngIf="email.errors.required" style="font-size: 1rem">
									Este campo não pode ficar em branco.
								</div>
								<div *ngIf="email.errors.email" style="font-size: 1rem">
									Este campo exige um e-mail válido.
								</div>
							</div>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row">
          <label class="col-lg-3 col-form-label">
            Razão Social <span class="asteriskField">*</span>
          </label>
          <div class="col-lg-6">
            <div *ngIf="isView" class="controls col-md-8 ">
              <p class ='col-form-label' type="text">{{this.Clubedelaco.razaoSocial}} </p>
            </div>
            <div *ngIf="!isView" class="form-group m-form__group has-danger has-danger">
              <input class="form-control m-input" id="id_razaoSocial" #razaoSocial="ngModel" required minlength="3" maxlength="80" [(ngModel)]="Clubedelaco.razaoSocial" name="razaoSocial" placeholder="Razão social do clube" style="margin-bottom: 10px" type="text">
							<div *ngIf="razaoSocial.invalid && (razaoSocial.dirty || razaoSocial.touched)" class="form-control-feedback">
								<div *ngIf="razaoSocial.errors.required" style="font-size: 1rem">
									Este campo não pode ficar em branco.
								</div>
								<div *ngIf="razaoSocial.errors.minlength" style="font-size: 1rem">
									Este campo exige ao menos 3 caracteres
								</div>
							</div>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row">
          <label class="col-lg-3 col-form-label">
            CNPJ <span class="asteriskField">*</span>
          </label>
          <div class="col-lg-6">
            <div *ngIf="isView" class="controls col-md-8 ">
              <p class ='col-form-label' type="text">{{this.Clubedelaco.cnpj}} </p>
            </div>
            <div *ngIf="!isView" class="form-group m-form__group has-danger has-danger">
              <input class="form-control m-input" id="id_cnpj" #cnpj="ngModel" required maxlength="30" [(ngModel)]="Clubedelaco.cnpj" name="cnpj" placeholder="CNPJ do clube" style="margin-bottom: 10px" type="text">
							<div *ngIf="cnpj.invalid && (cnpj.dirty || cnpj.touched)" class="form-control-feedback">
								<span *ngIf="cnpj.errors.required" style="font-size: 1rem">
									Este campo não pode ficar em branco.
								</span>
							</div>
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row">
          <label class="col-lg-3 col-form-label">
            Sigla
          </label>
          <div class="col-lg-6">
            <div *ngIf="isView" class="controls col-md-8 ">
              <p class ='col-form-label' type="text">{{this.Clubedelaco.sigla}} </p>
            </div>
            <div *ngIf="!isView" class="col-lg-8">
              <input class="form-control m-input" id="id_sigla" maxlength="30" [(ngModel)]="Clubedelaco.sigla" name="sigla" placeholder="Sigla do clube" style="margin-bottom: 10px" type="text">
            </div>
          </div>
        </div>

        <div class="form-group m-form__group row">
          <label class="col-lg-3 col-form-label">
            Data de Fundação
          </label>
          <div class="col-lg-6">
            <div *ngIf="isView" class="controls col-md-8 ">
              <p class ='col-form-label' type="date"> {{this.Clubedelaco.dataFundacao | date:"dd/MM/yyyy" }} </p>
            </div>
            <div *ngIf="!isView" class="form-group m-form__group ">
              <div class="input-group">
								<button class = "input-group-addon" style="width: 15%"  (click)="d.toggle()" type="button">
									<span class="input-group-addon" id="basic-addon2">
										<span class="fa fa-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"></span>
									</span>

								</button>
							<input disabled type="text" class="form-control m-input" placeholder="dd/mm/yyyy" aria-describedby="basic-addon2"
                         id="id_dataFundacao" name="dataFundacao" [(ngModel)]="Clubedelaco.arrayDataFundacao" ngbDatepicker #d="ngbDatepicker">

              </div>
            </div>
          </div>
        </div>

				<div class="form-group m-form__group row">
					<label class="col-lg-3 col-form-label">
						Registro SETEL
					</label>
					<div class="col-lg-6">
						<div *ngIf="isView" class="controls col-md-8 ">
							<p class ='col-form-label' type="text">{{this.Clubedelaco.registroSETEL}} </p>
						</div>
						<div *ngIf="!isView" class="form-group m-form__group ">
							<input class="form-control m-input" id="id_registroSETEL" maxlength="30" [(ngModel)]="Clubedelaco.registroSETEL" name="registroSETEL" placeholder="Registro SETEL do clube" style="margin-bottom: 10px" type="text">
						</div>
					</div>
				</div>

				<div class="form-group m-form__group row">
					<label class="col-lg-3 col-form-label">
						Rua
					</label>
					<div class="col-lg-6">
						<div *ngIf="isView" class="controls col-md-8 ">
							<p class ='col-form-label' type="text">{{this.Clubedelaco.rua}} </p>
						</div>
						<div *ngIf="!isView" class="form-group m-form__group ">
							<input class="form-control m-input" id="id_rua" maxlength="30" [(ngModel)]="Clubedelaco.rua" name="rua" placeholder="nome da rua do endereço do clube" style="margin-bottom: 10px" type="text">
						</div>
					</div>
				</div>

				<div class="form-group m-form__group row">
					<label class="col-lg-3 col-form-label">
						Número da sede
					</label>
					<div class="col-lg-6">
						<div *ngIf="isView" class="controls col-md-8 ">
							<p class ='col-form-label' type="text">{{this.Clubedelaco.numeroSala}} </p>
						</div>
						<div *ngIf="!isView" class="form-group m-form__group ">
							<input class="form-control m-input" id="id_numeroSala" maxlength="30" [(ngModel)]="Clubedelaco.numeroSala" name="numeroSala" placeholder="Numero/Sala do clube" style="margin-bottom: 10px" type="text">
						</div>
					</div>
				</div>

				<div class="form-group m-form__group row">
					<label class="col-lg-3 col-form-label">
						Bairro
					</label>
					<div class="col-lg-6">
						<div *ngIf="isView" class="controls col-md-8 ">
							<p class ='col-form-label' type="text">{{this.Clubedelaco.bairro}} </p>
						</div>
						<div *ngIf="!isView" class="form-group m-form__group ">
							<input class="form-control m-input" id="id_bairro" maxlength="30" [(ngModel)]="Clubedelaco.bairro" name="bairro" placeholder="Bairro do clube" style="margin-bottom: 10px" type="text">
						</div>
					</div>
				</div>

				<div class="form-group m-form__group row">
					<label class="col-lg-3 col-form-label">
						CEP
					</label>
					<div class="col-lg-6">
						<div *ngIf="isView" class="controls col-md-8 ">
							<p class ='col-form-label' type="text">{{this.Clubedelaco.cep}} </p>
						</div>
						<div *ngIf="!isView" class="form-group m-form__group ">
							<input class="form-control m-input" id="id_cep" maxlength="30" [(ngModel)]="Clubedelaco.cep" name="cep" placeholder="CEP do clube" style="margin-bottom: 10px" type="text">
						</div>
					</div>
				</div>

				<div class="form-group m-form__group row">
					<label class="col-lg-3 col-form-label">
						Cidade
					</label>
					<div class="col-lg-6">
						<div *ngIf="isView" class="controls col-md-8 ">
							<p class ='col-form-label' type="text">{{this.Clubedelaco.cidade}} </p>
						</div>
						<div *ngIf="!isView" class="form-group m-form__group ">
							<input class="form-control m-input" id="id_cidade" maxlength="30" [(ngModel)]="Clubedelaco.cidade" name="cidade" placeholder="cidade do clube" style="margin-bottom: 10px" type="text">
						</div>
					</div>
				</div>

				<div class="form-group m-form__group row">
					<label class="col-lg-3 col-form-label">
						Telefone
					</label>
					<div class="col-lg-6">
						<div *ngIf="isView" class="controls col-md-8 ">
							<p class ='col-form-label' type="text">{{this.Clubedelaco.foneDDD}} {{this.Clubedelaco.fone}} </p>
						</div>
						<div *ngIf="!isView" class="form-group m-form__group ">
						  <div class="input-group">
								<input class="form-control m-input col-lg-2" id="id_foneDDD" maxlength="2" [(ngModel)]="Clubedelaco.foneDDD" name="foneDDD" placeholder="DDD" style="margin-bottom: 10px; " type="text">
								<input class="form-control m-input col-lg-10" id="id_fone" maxlength="30" [(ngModel)]="Clubedelaco.fone" name="fone" placeholder="Fone do clube" style="margin-bottom: 10px; margin-left: 5px" type="text">
							</div>
						</div>
					</div>
				</div>

				<div class="form-group m-form__group row">
					<label class="col-lg-3 col-form-label">
						Fax
					</label>
					<div class="col-lg-6">
						<div *ngIf="isView" class="controls col-md-8 ">
							<p class ='col-form-label' type="text">{{this.Clubedelaco.faxDDD}} {{this.Clubedelaco.fax}} </p>
						</div>
						<div *ngIf="!isView" class="form-group m-form__group ">
							<div class="input-group">
								<input class="form-control m-input col-lg-2" id="id_faxDDD" maxlength="2" [(ngModel)]="Clubedelaco.faxDDD" name="faxDDD" placeholder="DDD" style="margin-bottom: 10px" type="text">
								<input class="form-control m-input col-lg-10" id="id_fax" maxlength="30" [(ngModel)]="Clubedelaco.fax" name="fax" placeholder="Fax do Clube" style="margin-bottom: 10px; margin-left: 5px" type="text">
							</div>
						</div>
					</div>
				</div>

				<div class="form-group m-form__group row">
					<label class="col-lg-3 col-form-label">
						Área de atuação
					</label>
					<div class="col-lg-6">
						<div *ngIf="isView" class="controls col-md-8 ">
							<p class ='col-form-label' type="text">{{this.Clubedelaco.atuacao}} </p>
						</div>
						<div *ngIf="!isView" class="form-group m-form__group ">
							<textarea class="form-control m-input" id="id_atuacao" maxlength="300" [(ngModel)]="Clubedelaco.atuacao" name="atuacao" placeholder="Área de abrangência e público alvo." style="margin-bottom: 0px" type="text" rows="4"></textarea>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="m-form__seperator m-form__seperator--dashed"></div>
			<br>
			<!--INICIO: SEÇÃO DO REPRESENTANTE  -->
			<div class="m-form__section m-form__section--last">
				<div class="m-form__heading">
					<h3 class="m-form__heading-title">
						2. Dados do representante:
					</h3>
				</div>

				<div class="form-group m-form__group row">
					<label class="col-lg-3 col-form-label">
						Nome
					</label>
					<div class="col-lg-6">
						<div *ngIf="isView" class="controls col-md-8 ">
							<p class ='col-form-label' type="text">{{this.Clubedelaco.nomeRepresentante}} </p>
						</div>
						<div *ngIf="!isView" class="form-group m-form__group ">
							<input class="form-control m-input" id="id_nomeRepresentante" maxlength="30" [(ngModel)]="Clubedelaco.nomeRepresentante" name="nomeRepresentante" placeholder="Nome do representante do clube" style="margin-bottom: 10px" type="text">
						</div>
					</div>
				</div>

				<div class="form-group m-form__group row">
					<label class="col-lg-3 col-form-label">
						CPF
					</label>
					<div class="col-lg-6">
						<div *ngIf="isView" class="controls col-md-8 ">
							<p class ='col-form-label' type="text">{{this.Clubedelaco.cpfRepresentante}} </p>
						</div>
						<div *ngIf="!isView" class="form-group m-form__group ">
							<input class="form-control m-input" id="id_cpfRepresentante" maxlength="30" [(ngModel)]="Clubedelaco.cpfRepresentante" name="cpfRepresentante" placeholder="CPF do representante do clube" style="margin-bottom: 10px" type="text">
						</div>
					</div>
				</div>

				<div class="form-group m-form__group row">
					<label class="col-lg-3 col-form-label">
						RG do representante
					</label>
					<div class="col-lg-6">
						<div *ngIf="isView" class="controls col-md-8 ">
							<p class ='col-form-label' type="text">{{this.Clubedelaco.rgRepresentante}} </p>
						</div>
						<div *ngIf="!isView" class="form-group m-form__group ">
							<input class="form-control m-input" id="id_rgRepresentante" maxlength="30" [(ngModel)]="Clubedelaco.rgRepresentante" name="rgRepresentante" placeholder="RG do representante do clube" style="margin-bottom: 10px" type="text">
						</div>
					</div>
				</div>

				<div class="form-group m-form__group row">
					<label class="col-lg-3 col-form-label">
						Cargo do representante
					</label>
					<div class="col-lg-6">
						<div *ngIf="isView" class="controls col-md-8 ">
							<p class ='col-form-label' type="text">{{this.Clubedelaco.cargoRepresentante}} </p>
						</div>
						<div *ngIf="!isView" class="form-group m-form__group ">
							<input class="form-control m-input" id="id_cargoRepresentante" maxlength="30" [(ngModel)]="Clubedelaco.cargoRepresentante" name="cargoRepresentante" placeholder="RG do representante do clube" style="margin-bottom: 10px" type="text">
						</div>
					</div>
				</div>

				<div class="form-group m-form__group row">
					<label class="col-lg-3 col-form-label">
						Telefone
					</label>
					<div class="col-lg-6">
						<div *ngIf="isView" class="controls col-md-8 ">
							<p class ='col-form-label' type="text">{{this.Clubedelaco.foneDDDRepresentante}} {{this.Clubedelaco.foneRepresentante}} </p>
						</div>
						<div *ngIf="!isView" class="form-group m-form__group ">
							<div class="input-group">
								<input class="form-control m-input col-lg-2" id="id_foneDDDRepresentante" maxlength="2" [(ngModel)]="Clubedelaco.foneDDDRepresentante" name="foneDDDRepresentante" placeholder="DDD" style="margin-bottom: 10px" type="text">
								<input class="form-control m-input col-lg-10" id="id_foneRepresentante" maxlength="30" [(ngModel)]="Clubedelaco.foneRepresentante" name="foneRepresentante" placeholder="Fone do representante do Clube" style="margin-bottom: 10px; margin-left: 5px" type="text">
							</div>
						</div>
					</div>
				</div>
        <br>
      </div>
			<!--FIM: SEÇÃO DO REPRESENTANTE  -->
		<!-- INICIO::RODAPÉ DE AÇÕES -->
    <div class="m-portlet__foot m-portlet__foot--fit">
      <div class="m-form__actions m-form__actions">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-6">
							<button *ngIf="!isView" id="submit-id-save" type="submit" class="btn btn-primary"><i class="icon-hand-right">Salvar</i></button>
							<a class="m-nav__link" style="padding-left: 2rem"  [routerLink]="['/clubesdelaco']"> Voltar </a>

					</div>
				</div>
      </div>
    </div>
  </div>
		<!-- FIM::RODAPÉ DE AÇÕES -->
	<div class="m-form__section m-form__section--last">
		<div class="m-form__heading">
			<h3 class="m-form__heading-title">
				Laçadores do clube
			</h3>
		</div>
		<!-- INICIO TABLE LACADORES DO CLUBE -->
		<div>
			<div *ngIf="!isInsert">
				<table class="table m-table m-table--head-bg-success"  id="lacadores" width="90%" >
					<thead class='thead-success'>
						<tr role="row">
							<th title="Field #1"> Laçador </th>
							<th title="Field #2"> CPF </th>
							<th title="Field #3"> E-mail </th>
							<th title="Field #4"> Endereço </th>

						</tr>
					</thead>
					<tbody>
						<tr role="row">
							<tr role="row" *ngFor="let registro of listLacadores">
								<td ><a class="m-menu__link" [routerLink]="['/clubesdelacoView', { id : registro._id , isView: true}]" >{{registro.name}}</a></td>
								<td>{{registro.cpf}}</td>
								<td>{{registro.email}}</td>
								<td>{{registro.endereco}}</td>
							</tbody>
					</table>
					<div  id="DataTables_Table_0_info" role="status" aria-live="polite">
						<label style="float:right" > {{this.qtdLacadores}} <small>registros encontrados</small> </label>
					</div>

				</div>
			</div>
			<!-- FIM::TABLE LACADORES DO CLUBE -->
	</div>
  </form>
	<br>
	<br>
  <!--end::Form-->
</div>
</div>



<!--



  <div id="addboxClubeLaco" style="margin-top:30px" >
      <div class="panel-heading">
        <div class="panel-title"></div>
      </div>
      <div class="panel-body">

          <form form id="clubedelacoForm" class="form-horizontal" role="form" (submit)="onClubesdelacoSubmit()">

            <div id="div_id_As" class="form-group required">
              <div id="div_nomeclube" class="form-group required">
                <label for="nomeclube" class="control-label col-md-5  requiredField"> Nome do clube: <span class="asteriskField">*</span> </label>
                <div *ngIf="isView" class="controls col-md-8 ">
                  <p style="margin-top: 10px" type="text">{{this.Clubedelaco.name}} </p>
                </div>
                <div *ngIf="!isView" class="controls col-md-7 input-group ">
                  <input class="input-md  textinput textInput form-control" id="id_name" maxlength="30" [(ngModel)]="Clubedelaco.name" name="name" placeholder="Escolha um nome para o Clube" style="margin-bottom: 10px" type="text">
                </div>
              </div>


              <div id="div_sede_localização" class="form-group required">
                <label for="sede_localizacao" class="control-label col-md-5  requiredField"> Sede / Localização <span class="asteriskField">*</span> </label>
                <div *ngIf="isView" class="controls col-md-8 ">
                  <p style="margin-top: 10px" type="text">{{this.Clubedelaco.sede}} </p>
                </div>
                <div *ngIf="!isView" class="controls col-md-7 input-group ">
                  <input class="input-md  textinput textInput form-control" id="id_sede" maxlength="30" [(ngModel)]="Clubedelaco.sede" name="sede" placeholder="Sede ou localização do clube" style="margin-bottom: 10px" type="text">
                </div>
              </div>

              <div id="div_email" class="form-group required">
                <label for="email" class="control-label col-md-5  requiredField"> E-mail <span class="asteriskField">*</span> </label>
                <div *ngIf="isView" class="controls col-md-8 ">
                  <p style="margin-top: 10px" type="text">{{this.Clubedelaco.email}} </p>
                </div>
                <div *ngIf="!isView" class="controls col-md-7 input-group ">
                  <input class="input-md  textinput textInput form-control" id="id_email" maxlength="30" [(ngModel)]="Clubedelaco.email" name="email" placeholder="Sede ou localização do clube" style="margin-bottom: 10px" type="text">
                </div>
              </div>


            <div id="div_razaoSocial" class="form-group required">
              <label for="razaoSocial" class="control-label col-md-5  requiredField"> Razão Social <span class="asteriskField">*</span> </label>
              <div *ngIf="isView" class="controls col-md-8 ">
                <p style="margin-top: 10px" type="text">{{this.Clubedelaco.razaoSocial}} </p>
              </div>
              <div *ngIf="!isView" class="controls col-md-7 input-group ">
                <input class="input-md  textinput textInput form-control" id="id_razaoSocial" maxlength="30" [(ngModel)]="Clubedelaco.razaoSocial" name="razaoSocial" placeholder="Razão social do clube" style="margin-bottom: 10px" type="text">
              </div>
            </div>


          <div id="div_cnpj" class="form-group required">
            <label for="cnpj" class="control-label col-md-5  requiredField"> CNPJ <span class="asteriskField">*</span> </label>
            <div *ngIf="isView" class="controls col-md-8 ">
              <p style="margin-top: 10px" type="text">{{this.Clubedelaco.cnpj}} </p>
            </div>
            <div *ngIf="!isView" class="controls col-md-7 input-group">
              <input class="input-md  textinput textInput form-control" id="id_cnpj" maxlength="30" [(ngModel)]="Clubedelaco.cnpj" name="cnpj" placeholder="CNPJ do clube" style="margin-bottom: 10px" type="text">
            </div>
          </div>

          <div id="div_sigla" class="form-group ">
            <label for="sigla" class="control-label col-md-5  requiredField"> Sigla </label>
            <div *ngIf="isView" class="controls col-md-8 ">
              <p style="margin-top: 10px" type="text">{{this.Clubedelaco.sigla}} </p>
            </div>
            <div *ngIf="!isView" class="controls col-md-7 input-group ">
              <input class="input-md  textinput textInput form-control" id="id_sigla" maxlength="30" [(ngModel)]="Clubedelaco.sigla" name="sigla" placeholder="sigla do clube" style="margin-bottom: 10px" type="text">
            </div>
          </div>

          <div id="div_dataFundacao" class="form-group required">
            <label for="dataFundacao" class="control-label col-md-5  requiredField"> Data de Fundação <span class="asteriskField">*</span> </label>
            <div *ngIf="isView" class="controls col-md-7 ">
              <p style="margin-top: 10px" type="text"> <label style="font-weight: normal"> {{this.Clubedelaco.dataFundacao | date:"dd/MM/yyyy" }}  </label></p>
            </div>
            {{this.Clubedelaco.dataFundacao | date:"dd/MM/yyyy" }}
            <div *ngIf="!isView" class="controls date col-md-7 input-group ">
              <input class="input-md textinput textInput form-control" placeholder="dd/mm/yyyy"
                         id="id_dataFundacao" name="dataFundacao" [(ngModel)]="Clubedelaco.arrayDataFundacao" ngbDatepicker #d="ngbDatepicker">
                  <button class="input-group-addon" style="width: 8%"  (click)="d.toggle()" type="button">
                    <span class="fa fa-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"></span>

                  </button>
            </div>
          </div>


          <div id="div_registroSETEL" class="form-group required">
            <label for="registroSETEL" class="control-label col-md-5  requiredField"> Registro SETEL <span class="asteriskField">*</span> </label>
            <div *ngIf="isView" class="controls col-md-8 ">
              <p style="margin-top: 10px" type="text">{{this.Clubedelaco.registroSETEL}} </p>
            </div>
            <div *ngIf="!isView" class="controls col-md-7 input-group ">
              <input class="input-md  textinput textInput form-control" id="id_registroSETEL" maxlength="30" [(ngModel)]="Clubedelaco.registroSETEL" name="registroSETEL" placeholder="Registro SETEL do clube" style="margin-bottom: 10px" type="text">
            </div>
          </div>

          <div id="div_rua" class="form-group required">
            <label for="rua" class="control-label col-md-4  requiredField"> Rua </label>
            <div *ngIf="isView" class="controls col-md-8 ">
              <p style="margin-top: 10px" type="text">{{this.Clubedelaco.rua}} </p>
            </div>
            <div *ngIf="!isView" class="controls col-md-7 input-group ">
              <input class="input-md  textinput textInput form-control" id="id_rua" maxlength="30" [(ngModel)]="Clubedelaco.rua" name="rua" placeholder="Rua do clube" style="margin-bottom: 10px" type="text">
            </div>
          </div>

          <div id="div_numeroSala" class="form-group required">
            <label for="numeroSala" class="control-label col-md-4  requiredField"> Número/Sala <span class="asteriskField">*</span> </label>
            <div *ngIf="isView" class="controls col-md-8 ">
              <p style="margin-top: 10px" type="text">{{this.Clubedelaco.numeroSala}} </p>
            </div>
            <div *ngIf="!isView" class="controls col-md-7 input-group ">
              <input class="input-md  textinput textInput form-control" id="id_numeroSala" maxlength="30" [(ngModel)]="Clubedelaco.numeroSala" name="numeroSala" placeholder="Numero/Sala do clube" style="margin-bottom: 10px" type="text">
            </div>
          </div>

          <div id="div_bairro" class="form-group ">
            <label for="bairro" class="control-label col-md-4  requiredField"> Bairro  </label>
            <div *ngIf="isView" class="controls col-md-8 ">
              <p style="margin-top: 10px" type="text">{{this.Clubedelaco.bairro}} </p>
            </div>
            <div *ngIf="!isView" class="controls col-md-7 input-group ">
              <input class="input-md  textinput textInput form-control" id="id_bairro" maxlength="30" [(ngModel)]="Clubedelaco.bairro" name="bairro" placeholder="Bairro do clube" style="margin-bottom: 10px" type="text">
            </div>
          </div>


          <div id="div_cep" class="form-group ">
            <label for="cep" class="control-label col-md-4  requiredField"> CEP  </label>
            <div *ngIf="isView" class="controls col-md-8 ">
              <p style="margin-top: 10px" type="text">{{this.Clubedelaco.cep}} </p>
            </div>
            <div *ngIf="!isView" class="controls col-md-7 input-group ">
              <input class="input-md  textinput textInput form-control" id="id_cep" maxlength="30" [(ngModel)]="Clubedelaco.cep" name="cep" placeholder="CEP do clube" style="margin-bottom: 10px" type="text">
            </div>
          </div>

          <div id="div_cidade" class="form-group ">
            <label for="cidade" class="control-label col-md-4  requiredField"> Cidade  </label>
            <div *ngIf="isView" class="controls col-md-8 ">
              <p style="margin-top: 10px" type="text">{{this.Clubedelaco.cidade}} </p>
            </div>
            <div *ngIf="!isView" class="controls col-md-7 input-group ">
              <input class="input-md  textinput textInput form-control" id="id_cidade" maxlength="30" [(ngModel)]="Clubedelaco.cidade" name="cidade" placeholder="cidade do clube" style="margin-bottom: 10px" type="text">
            </div>
          </div>

          <div id="div_foneDDD" class="form-group ">
            <label for="foneDDD" class="control-label col-md-4  requiredField"> Fone  </label>
            <div *ngIf="isView" class="controls col-md-8 ">
              <p style="margin-top: 10px" type="text">{{this.Clubedelaco.foneDDD}} {{this.Clubedelaco.fone}}</p>
            </div>
            <div *ngIf="!isView" class="controls col-md-7 input-group ">
              <input class="form-control col-md-2" id="id_foneDDD" maxlength="2" [(ngModel)]="Clubedelaco.foneDDD" name="foneDDD" placeholder="(##)" style="margin-bottom: 10px; " type="text">
              <input class="form-control" id="id_fone" maxlength="30" [(ngModel)]="Clubedelaco.fone" name="fone" placeholder="Fone do clube" style="margin-bottom: 10px; margin-left: 5px" type="text">
            </div>
          </div>


          <div id="div_faxDDD" class="form-group ">
            <label for="faxDDD" class="control-label col-md-4  requiredField"> Fax </label>
            <div *ngIf="isView" class="controls col-md-8 ">
              <p style="margin-top: 10px" type="text"><label style="font-weight: normal"> {{this.Clubedelaco.fax}}  {{this.Clubedelaco.faxDDD}} </label> </p>
            </div>
            <div *ngIf="!isView" class="controls col-md-7 input-group ">
              <input class="form-control col-md-2" id="id_faxDDD" maxlength="2" [(ngModel)]="Clubedelaco.faxDDD" name="faxDDD" placeholder="(##)" style="margin-bottom: 10px" type="text">
              <input class="form-control" id="id_fax" maxlength="30" [(ngModel)]="Clubedelaco.fax" name="fax" placeholder="Fax do Clube" style="margin-bottom: 10px; margin-left: 5px" type="text">
            </div>
          </div>

          <div id="div_atuacao" class="form-group required">
            <label for="atuacao" class="control-label col-md-4  requiredField"> Atuação <span class="asteriskField">*</span> </label>
            <div *ngIf="isView" class="controls col-md-7 input-group ">
              <p style="margin-top: 10px" type="text">{{this.Clubedelaco.atuacao}} </p>
            </div>
            <div *ngIf="!isView" class="controls col-md-7 input-group ">
              <textarea class="input-md  textinput textInput form-control" id="id_atuacao" maxlength="300" [(ngModel)]="Clubedelaco.atuacao" name="atuacao" placeholder="Área de abrangência e público alvo." style="margin-bottom: 0px" type="text" rows="4"></textarea>
            </div>
          </div>
          <div id="div_representante" class="form-group col-md-12">
            <h4 class="page-header" style="margin-left: 65px">Representante </h4>
          </div>
          <div id="div_nomeRepresentante" class="form-group required">
            <label for="nomeRepresentante" class="control-label col-md-4  requiredField"> Nome <span class="asteriskField">*</span> </label>
            <div *ngIf="isView" class="controls col-md-8 ">
              <p style="margin-top: 10px" type="text">{{this.Clubedelaco.nomeRepresentante}} </p>
            </div>
            <div *ngIf="!isView" class="controls col-md-7 input-group ">
              <input class="input-md  textinput textInput form-control" id="id_nomeRepresentante" maxlength="30" [(ngModel)]="Clubedelaco.nomeRepresentante" name="nomeRepresentante" placeholder="Nome do representante do clube" style="margin-bottom: 10px" type="text">
            </div>
          </div>

          <div id="div_cpfRepresentante" class="form-group required">
            <label for="cpfRepresentante" class="control-label col-md-4  requiredField"> CPF <span class="asteriskField">*</span> </label>
            <div *ngIf="isView" class="controls col-md-7 input-group ">
              <p style="margin-top: 10px" type="text">{{this.Clubedelaco.cpfRepresentante}} </p>
            </div>
            <div *ngIf="!isView" class="controls col-md-7 input-group  ">
              <input class="input-md  textinput textInput form-control" id="id_cpfRepresentante" maxlength="30" [(ngModel)]="Clubedelaco.cpfRepresentante" name="cpfRepresentante" placeholder="CPF do representante do clube" style="margin-bottom: 10px" type="text">
            </div>
          </div>

          <div id="div_rgRepresentante" class="form-group required">
            <label for="rgRepresentante" class="control-label col-md-4  requiredField"> RG  <span class="asteriskField">*</span> </label>
            <div *ngIf="isView" class="controls col-md-8 ">
              <p style="margin-top: 10px" type="text">{{this.Clubedelaco.rgRepresentante}} </p>
            </div>
            <div *ngIf="!isView" class="controls col-md-7 input-group ">
              <input class="input-md  textinput textInput form-control" id="id_rgRepresentante" maxlength="30" [(ngModel)]="Clubedelaco.rgRepresentante" name="rgRepresentante" placeholder="RG do representante do clube" style="margin-bottom: 10px" type="text">
            </div>
          </div>

          <div id="div_cargoRepresentante" class="form-group required">
            <label for="cargoRepresentante" class="control-label col-md-4  requiredField"> Cargo  <span class="asteriskField">*</span> </label>
            <div *ngIf="isView" class="controls col-md-8 ">
              <p style="margin-top: 10px" type="text">{{this.Clubedelaco.cargoRepresentante}} </p>
            </div>
            <div *ngIf="!isView" class="controls col-md-7 input-group ">
              <input class="input-md  textinput textInput form-control" id="id_cargoRepresentante" maxlength="30" [(ngModel)]="Clubedelaco.cargoRepresentante" name="cargoRepresentante" placeholder="RG do representante do clube" style="margin-bottom: 10px" type="text">
            </div>
          </div>

          <div id="div_foneDDDRepresentante" class="form-group required">
            <label for="foneDDDRepresentante" class="control-label col-md-4  requiredField"> Fone  <span class="asteriskField">*</span> </label>
            <div *ngIf="isView" class="controls col-md-8 ">
              <p style="margin-top: 10px" type="text">{{this.Clubedelaco.foneDDDRepresentante}} {{this.Clubedelaco.foneRepresentante}}</p>
            </div>
            <div *ngIf="!isView" class="controls col-md-7 input-group ">
              <input class="form-control col-md-2" id="id_foneDDDRepresentante" maxlength="2" [(ngModel)]="Clubedelaco.foneDDDRepresentante" name="foneDDDRepresentante" placeholder="(##)" style="margin-bottom: 10px" type="text">
              <input class="form-control" id="id_foneRepresentante" maxlength="30" [(ngModel)]="Clubedelaco.foneRepresentante" name="foneRepresentante" placeholder="Fone do representante do Clube" style="margin-bottom: 10px; margin-left: 5px" type="text">
            </div>
          </div>







        </div>





            <div >
              <div *ngIf="!isInsert">
                <app-lacadores [paramIdClube]="idRecord" [isDetail]= "true"></app-lacadores>

                <table class="table"  id="lacadores" width="100%" >
          				<thead class='thead-success'>
          					<tr role="row">
          						<th title="Field #1"> Laçador </th>
          						<th title="Field #2"> CPF </th>
          						<th title="Field #3"> E-mail </th>
          						<th title="Field #4"> Endereço </th>

          					</tr>
          				</thead>
          				<tbody>
                    <tr role="row">
                      <tr role="row" *ngFor="let registro of listLacadores">
                        <td ><a class="m-menu__link" [routerLink]="['/clubesdelacoView', { id : registro._id , isView: true}]" >{{registro.name}}</a></td>
                        <td>{{registro.cpf}}</td>
                        <td>{{registro.email}}</td>
                        <td>{{registro.endereco}}</td>
                      </tbody>
                  </table>
                  <div  id="DataTables_Table_0_info" role="status" aria-live="polite">
                    <label style="float:right" > {{this.qtdLacadores}} <small>registros encontrados</small> </label>
                  </div>



              </div>
              <div class="aab controls col-md-4 "></div>
              <div class="controls col-md-8 ">

                <button *ngIf="!isView" id="submit-id-save" type="submit" class="btn btn-primary btn btn-confirm"><i class="icon-hand-right">Salvar</i></button>
                <input type="button" [routerLink]="['/clubesdelaco']"  name="BtnCancel" value="Voltar" class="btn btn btn-cancel" id="button-id-cancelar" >
              </div>
            </div>

          </form>

      </div>
  </div> -->
